/* Notes in CSS look like this
*/

* {
   font-family: Arial, Helvetica, sans-serif; 
}

.header {
    background-color: rgb(80, 80, 80);
}

h1 { 
    text-align: center; 
    color: rgb(0, 0, 128, 0.8); 
    background-color: rgb(255, 215, 0, 0.8); 
    border: 20px solid rgb(0, 0, 128, 0.8); 
    width: 300px; 
    padding: 50px; 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

div {
    text-align: center; 
}
.projects { 
    display:flex; 
    flex-wrap:wrap; 
    background-color: rgb(180,180,180,0.5);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    justify-content: center;
}

.projects_title {
    background-color: rgb(180,180,180,0.5);
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
}

.project {
    width: 25%;
    padding: 10px;
    margin: 20px;
    padding-bottom: 20px 10px;
    background: rgb(115, 115, 191);
    border-radius: 25%;
} 

/* Things to try from class 10/20/25
.project img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126,14,201);
    display: block;
    margin: auto;
}
*/

/* Manipulate the links and their appearance*/
a:link {
    text-decoration: underline;
    text-decoration-color: black;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}

a:active {
    color: orange;
}


/* Manipulate the paragraphs in .project
.project p {
    text-align: center;
    margin: 15px;
}
*/

.about, .skills, .contact {
    border: 1px solid black; 
    padding: 10px;
}

.about {
    background-color: rgb(240,240,240,0.5);
}

.skills {
    background-color: rgb(200,200,200,0.5);
}

.contact {
    background-color: rgba(140, 140, 140, 0.5);
}

h2 {
    text-decoration: underline;
    text-decoration-color: black;
    color: black;
}

h3 {
    color: black;
    text-decoration-color: black;
}